<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:5%;">Key ID's</th>
    <th style="width:5%;">Director</th>
    <th style="width:5%;">ADM</th>
    <th style="width:5%;">Team Name</th>
    <th style="width:5%;">Total</th>
    <th style="width:5%;">Onsite</th>
    <th style="width:5%;">Offshore</th>
    <th style="width:5%;">KT Start Date</th>
    <th style="width:5%;">KT End Date</th>
    <th style="width:5%;">CW ID</th>
    <th style="width:5%;">ADID</th>
    <th style="width:5%;">RSA</th>
    <th style="width:5%;">Citrix Laptop</th>
    <th style="width:5%;">Knowledge Acquisition</th>
    <th style="width:5%;">Assisted Perform</th>
    <th style="width:5%;">Independent Perform</th>
    <th style="width:5%;">Steady State</th>
    <th style="width:5%;">Billing Start Date</th>
    <th style="width:5%;">Key Updates</th>
    <th style="width:5%;">Remarks</th>
  </tr>
  <tr>
    <td>ProjectName_01</td>
    <td>Benjamin</td>
    <td>Oliver</td>
    <td>Team One</td>
    <td>3</td>
    <td>0</td>
    <td>3</td>
    <td>2/5/2024</td>
    <td>3/5/2024</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2/20/2024</td>
    <td>2/27/2024</td>
    <td>3/5/2024</td>
    <td>3/6/2024</td>
    <td>3/6/2024</td>
    <td>KT Completed. In Steady State.</td>
    <td></td>
  </tr>
  <tr>
    <td>ProjectName_02</td>
    <td>Benjamin</td>
    <td>Oliver</td>
    <td>Team Two</td>
    <td>2</td>
    <td>0</td>
    <td>2</td>
    <td>2/21/2024</td>
    <td>3/28/2024</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>3/7/2024</td>
    <td>3/21/2024</td>
    <td>3/28/2024</td>
    <td>3/29/2024</td>
    <td>3/29/2024</td>
    <td>KT Completed. In Steady State.</td>
    <td></td>
  </tr>
  <tr>
    <td>ProjectName_03</td>
    <td>Serenity Panickar</td>
    <td>Noah</td>
    <td>Team Three</td>
    <td>3</td>
    <td>0</td>
    <td>3</td>
    <td>1/29/2024</td>
    <td>3/15/2024</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2/16/2024</td>
    <td>3/1/2024</td>
    <td>3/29/2024</td>
    <td>4/1/2024</td>
    <td>4/1/2024</td>
    <td>KT Completed. In Steady State.</td>
    <td></td>
  </tr>
  <tr>
    <td>ProjectName_04</td>
    <td>Serenity Panickar</td>
    <td>Noah</td>
    <td>Team Four</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
    <td>1/29/2024</td>
    <td>3/15/2024</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>2/16/2024</td>
    <td>3/1/2024</td>
    <td>3/29/2024</td>
    <td>4/1/2024</td>
    <td>4/1/2024</td>
    <td>KT Completed. In Steady State.</td>
    <td></td>
  </tr>
  <tr>
    <td>ProjectName_05</td>
    <td>James</td>
    <td>Williams</td>
    <td>Team Five</td>
    <td>6</td>
    <td>1</td>
    <td>5</td>
    <td>2/7/2024</td>
    <td>5/6/2024</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
    <td>6</td>
    <td>3/19/2024</td>
    <td>4/5/2024</td>
    <td>5/6/2024</td>
    <td>5/7/2024</td>
    <td>5/21/2024</td>
    <td>KT Completed. In Steady State.</td>
    <td>Incumbent disengagement date changed to 6/28 to accommodate release schedule<td>
  </tr>
</table>