<!DOCTYPE html>
<html>
<body>

<h1>Home Screen</h1>

<button type="Home Screen" onclick="window.location.href = 'index.html';">Home Screen</button>
<button type="sheet1" onclick="window.location.href = 'sheet1.html';">Sheet 1</button>
<button type="sheet2" onclick="window.location.href = 'sheet2.html';">Sheet 2</button>
<button type="sheet3" onclick="window.location.href = 'sheet3.html';">Sheet 3</button>
<button type="sheet4" onclick="window.location.href = 'sheet4.html';">Sheet 4</button>

</body>
</html>