<!DOCTYPE html>
<html>
<body>

<h1>Sheet 4</h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<button type="Home Screen" onclick="window.location.href = 'index.html';">Home Screen</button>
<button type="sheet1" onclick="window.location.href = 'sheet1.html';">Sheet 1</button>
<button type="sheet2" onclick="window.location.href = 'sheet2.html';">Sheet 2</button>
<button type="sheet3" onclick="window.location.href = 'sheet3.html';">Sheet 3</button>
<button type="sheet4" onclick="window.location.href = 'sheet4.html';">Sheet 4</button>

<table id="myTable">
  <tr class="header">
    <th style="width:10%;">Number</th>
    <th style="width:10%;">Date</th>
    <th style="width:10%;">Team</th>
    <th style="width:10%;">Resource Name</th>
    <th style="width:10%;">Issue Description</th>
    <th style="width:10%;">Owner</th>
    <th style="width:10%;">TechM-SPOC</th>
    <th style="width:10%;">Priority</th>
    <th style="width:10%;">Status</th>
    <th style="width:10%;">Resolution Comments</th>
  </tr>
  <tr>
    <td style="width:10%;">1</td>
    <td style="width:10%;">6/13/2024</td>
    <td style="width:10%;">Client</td>
    <td style="width:10%;">Client is unhappy</td>
    <td style="width:10%;">Saravanan</td>
    <td style="width:10%;"></td>
    <td style="width:10%;">High</td>
    <td style="width:10%;">Unresolved</td>
    <td style="width:10%;"></td>
  </tr>
</table>

</body>
</html>